.login-body {
  margin: 0;
  padding: 0;
  background-image: url("../../public/LoginBackground.png");
  background-size: cover;
  background-position: top;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin-top: 50px;
}

.login-container {
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 40%;
  margin: 0 auto;
}

.login-logo {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
}

.form-control {
  margin-bottom: 10px;
}
